@font-face {
    font-family: 'latoblack_italic';
    src: url('Lato-BlaIta-webfont.eot');
    src: url('Lato-BlaIta-webfont.eot?#iefix') format('embedded-opentype'),
         url('Lato-BlaIta-webfont.woff') format('woff'),
         url('Lato-BlaIta-webfont.ttf') format('truetype'),
         url('Lato-BlaIta-webfont.svg#latoblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

